{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div class="container">
<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#all" data-toggle="tab">Home</a></li>
    <li><a href="#animal" data-toggle="tab">Animals</a></li>
    <li><a href="#nature" data-toggle="tab">Nature</a></li>
    <li><a href="#art" data-toggle="tab">Art</a></li>
    <li><a href="#architecture" data-toggle="tab">Architecture</a></li>
    <li><a href="#photography" data-toggle="tab">Photography</a></li>
</ul>
<div class="tab-content">
<div id="all" class="row tab-pane fade in active">

        {% for image_item in images %}
        <!-- Output all images -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
    {% for category in image_item.category.all %}
            <h2>{{category | upper}}</h2>
            {% if image_item.image_url %}
                <img src="{{image_item.image_url.url}}" class="img-responsive" alt="Image"/>
            {% endif %}
            <a href="/image/{{image_item.id}}">{{image_item.name}}</a>
            <p>{{image_item.upload_date}}</p>
            {% for location in image_item.location.all %}
                {{location}}
            {% endfor %}
    {% endfor %}
    </div>
{% endfor %}
</div>

<div id="animal" class="row tab-pane fade">
        {% for image_item in images %}
                <!-- Output all images -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {% for category in image_item.category.all %}
                {% if category.category_name == "animal" %}
                    <h2>{{category | upper}}</h2>
                    {% if image_item.image_url %}
                        <img src="{{image_item.image_url.url}}" class="img-responsive" alt="Image"/>
                    {% endif %}
                    <a href="/image/{{image_item.id}}">{{image_item.name}}</a>
                    <p>{{image_item.upload_date}}</p>
                    {% for location in image_item.location.all %}
                        {{location}}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
</div>        

<div id="nature" class="row tab-pane fade">
        {% for image_item in images %}
                <!-- Output all images -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {% for category in image_item.category.all %}
                {% if category.category_name == "nature" %}
                    <h2>{{category | upper}}</h2>
                    {% if image_item.image_url %}
                        <img src="{{image_item.image_url.url}}" class="img-responsive" alt="Image"/>
                    {% endif %}
                    <a href="/image/{{image_item.id}}">{{image_item.name}}</a>
                    <p>{{image_item.upload_date}}</p>
                    {% for location in image_item.location.all %}
                        {{location}}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
</div>        

<div id="art" class="row tab-pane fade">
        {% for image_item in images %}
                <!-- Output all images -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {% for category in image_item.category.all %}
                {% if category.category_name == "art" %}
                    <h2>{{category | upper}}</h2>
                    {% if image_item.image_url %}
                        <img src="{{image_item.image_url.url}}" class="img-responsive" alt="Image"/>
                    {% endif %}
                    <a href="/image/{{image_item.id}}">{{image_item.name}}</a>
                    <p>{{image_item.upload_date}}</p>
                    {% for location in image_item.location.all %}
                        {{location}}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
</div>        


<div id="art" class="row tab-pane fade">
        {% for image_item in images %}
                <!-- Output all images -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {% for category in image_item.category.all %}
                {% if category.category_name == "art" %}
                    <h2>{{category | upper}}</h2>
                    {% if image_item.image_url %}
                        <img src="{{image_item.image_url.url}}" class="img-responsive" alt="Image"/>
                    {% endif %}
                    <a href="/image/{{image_item.id}}">{{image_item.name}}</a>
                    <p>{{image_item.upload_date}}</p>
                    {% for location in image_item.location.all %}
                        {{location}}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
</div>        

<div id="architecture" class="row tab-pane fade">
        {% for image_item in images %}
                <!-- Output all images -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {% for category in image_item.category.all %}
                {% if category.category_name == "architecture" %}
                    <h2>{{category | upper}}</h2>
                    {% if image_item.image_url %}
                        <img src="{{image_item.image_url.url}}" class="img-responsive" alt="Image"/>
                    {% endif %}
                    <a href="/image/{{image_item.id}}">{{image_item.name}}</a>
                    <p>{{image_item.upload_date}}</p>
                    {% for location in image_item.location.all %}
                        {{location}}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
</div>        

<div id="photography" class="row tab-pane fade">
        {% for image_item in images %}
                <!-- Output all images -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            {% for category in image_item.category.all %}
                {% if category.category_name == "photography" %}
                    <h2>{{category | upper}}</h2>
                    {% if image_item.image_url %}
                        <img src="{{image_item.image_url.url}}" class="img-responsive" alt="Image"/>
                    {% endif %}
                    <a href="/image/{{image_item.id}}">{{image_item.name}}</a>
                    <p>{{image_item.upload_date}}</p>
                    {% for location in image_item.location.all %}
                        {{location}}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
</div>        

</div>
</div>
{% endblock %}